@charset "utf-8";
*{
    margin:0;
    padding:0;
}
ul,ol{list-style:none;}
a{text-decoration: none;}


#top-wrap{
    width: 100%;
    height:122px;
    background:#0a3665;
}
#top{
    width:1263px;
    height:122px;
    background:#0a3665;
    margin:0px auto;
    position: relative;
}
#top1{
    width:1263px;
    height:39px;
    
    position: absolute;
    margin:0px auto;
}
#p1{
    width:149px;
    height:29px;
    position: absolute;
    right:0px;

    color:#ffffff;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}
#p1:hover{
    border-cursor:pointer;
    
    color:red;
}
#img1{
    position: absolute;
    right:115px;
    top:8px;
}
#p2{
    width:56px;
    height:15px;
    position: absolute;
    right:150px;
    border-right:1px solid #fff;
    color:#ffffff;
   text-align:right;
    margin-top:10px;

    font-size: 14px;
    
}
#img2{
    position: absolute;
    right:165px;
    top:8px;
}
#p3{
    width:76px;
    height:15px;
    position: absolute;
    right:210px;
    border-right:1px solid #fff;
    color:#ffffff;
    text-align: center;
    font-size: 14px;
    margin-top:10px;
    
}
#p3:hover{
    border-cursor:pointer;
    
    color:red;
}
#p4{
    width:76px;
    height:15px;
    position: absolute;
    right:287px;
    border-right:1px solid #fff;
    color:#ffffff;
    text-align: center;
    font-size: 14px;
    
    margin-top:10px;
    
}
#p4:hover{
    border-cursor:pointer;
    
    color:red;
}
#top2{
    width:347px;
    height:82px;
    
    position: absolute;
    top:38px;
}
#img3{
    position: absolute;
    left:65px;
    bottom:15px;
}
#top3{
    width:569px;
    height:82px;
    
    position: absolute;
    top:38px;
    left:347px;
}


 #search-list {
            margin: 0 auto;
            width: 600px;
        }
#search-list li {
           width:540px;
          position: absolute;
            padding: 0 10px;
            line-height: 30px;
            background: #eee;
            border-bottom: 1px dashed #ccc;
            z-index:150;
        }
#search{
    width:560px;
    height:42px;
    border:1px solid black;
    margin-top:20px;
    border-radius:8px;
}
#img4{
    position: absolute;
    left:522px;
    bottom:27px;
}
#top4{
    width:347px;
    height:82px;

    position: absolute;
    top:38px;
    right:0px;
}
#ulid1{
    width:300px;
    height:30px;

    margin-top:27px;
    
}
#ulid1 li{
    float:left;
    margin-left:10px;
    color:#fff;
    margin-left:45px;
    
}
#ulid1 li a{
    color:#fff;
}
#nav img{
     width:1263px;
}

#menu-wrap{
    width: 100%;
    height:35px;
    background:#0669b2;
}
#menu{
    width:1263px;
    height:35px;
    background:#0669b2;
    margin:0px auto;
    position: relative;
}
#menu1{
    width: 253px;
    height:35px;
    
    position: absolute;
    
}
#menu1 p{
    width: 92px;
    height: 35px;
    
    margin-left:46px;
    margin-top:6px;
    color: #FFF;
    font-size: 14px;
    font-weight: 900;
    position: absolute;
    left: 17px;
}
#img5{
    width:85px;
    height:35px;
    position: absolute;
    right: 10px;
}
#menu2{
    width: 565px;
    height:35px;
    position: fixed;
    position: absolute;
    left:253px;
}

#option1{
   position:absolute;
    width: 250px;
    height:300px;
    top:35px;
    left:-100px;
    z-index: 70;
    display: none;
}

#option1 ul li{
    width:250px;
    height:40px;
    background-color:#fff;
    float:left;
    color:#668066;
    font-size:12px;
}
#option1 ul li:hover{
    background:gainsboro;
    font-size:16px;
    cursor: pointer;
    color:#0669b2;
}
#option2{
    position:absolute;
    left:-20px;
    top:35px;
    z-index: 71;
    display: none;
    width: 230px;
    height:192px;
    
}
#option2 ul li{
    width: 230px;
    height:40px;
    background-color:#fff;
    color:#668066;
}
#option2 ul li:hover{
    background:gainsboro;
    font-size:16px;
    cursor: pointer;
    color:#0669b2;
}
#option3{
   width: 307px;
   position:absolute;
    left:20px;
    top:38px;
    z-index: 666;
    display: none;
}
#option3 #eastId{
  color:blue;
  font-size:16px;
  font-weight: 900;;
}
#option3 #westId{
  color:red;
  font-size:16px;
  font-weight: 900;
}
#option3 li{
   width:150px;
   height:32px;
   float:left;
   background-color:#fff;
   font-size:12px;
   color: gray;
}
#option3 li:hover{
    width: 151px;
    color:#0a3665;
    background-color:#F0F1F6;
    font-size:18px;
    cursor: pointer;
}
#menu #option4{
    position:absolute;
    left:30px;
    top:35px;
    z-index:75;
  display: none;
    width: 250px;
    height:255px;
}
#menu #option4 #option4-1 li{
    width:250px;
    height:40px;
    background-color:#fff;
    color:#668066;
}
#menu #option4 #option4-1 li:hover{
    background:gainsboro;
    font-size:16px;
    cursor: pointer;
    color:#0669b2;
}

#menu #option5{
    position:absolute;
    left:90px;
    top:35px;
    z-index:78;
  display: none;
    width: 250px;
    height:145px;
}
#menu #option5 #option5-1 li{
    width:250px;
    height:40px;
    background-color:#fff;
    color:#668066;
}
#menu #option5 #option5-1 li:hover{
    background:gainsboro;
    font-size:16px;
    cursor: pointer;
    color:#0669b2;
}

#menu #option6{
    position:absolute;
    left:145px;
    top:35px;
    z-index:79;
  display: none;
    width: 250px;
    height:300px;
}
#menu #option6 #option6-1 li{
    width:250px;
    height:40px;
    background-color:#fff;
    color:#668066;
}
#menu #option6 #option6-1 li:hover{
    background:gainsboro;
    font-size:16px;
    cursor: pointer;
    color:#0669b2;
}

#menu #option7{
    position:absolute;
    left:210px;
    top:35px;
    z-index:79;
  display: none;
    width: 250px;
    height:200px;
}
#menu #option7 #option7-1 li{
    width:250px;
    height:40px;
    background-color:#fff;
    color:#668066;
}
#menu #option7 #option7-1 li:hover{
    background:gainsboro;
    font-size:16px;
    cursor: pointer;
    color:#0669b2;
}

#menu #option8{
    position:absolute;
    left:267px;
    top:35px;
    z-index:79;
  display: none;
    width: 250px;
    height:145px;
}
#menu #option8 #option8-1 li{
    width:250px;
    height:40px;
    background-color:#fff;
    color:#668066;
}
#menu #option8 #option8-1 li:hover{
    background:gainsboro;
    font-size:16px;
    cursor: pointer;
    color:#0669b2;
}

#menu #option9{
    position:absolute;
    left:331px;
    top:35px;
    z-index:79;
  display: none;
    width: 250px;
    height:350px;
}
#menu #option9 #option9-1 li{
    width:240px;
    height:30px;
    background-color:#fff;
    color:#668066;
}
#menu #option9 #option9-1 li:hover{
    background:gainsboro;
    font-size:16px;
    cursor: pointer;
    color:#0669b2;
}

#menu #option10{
    position:absolute;
    left:396px;
    top:35px;
    z-index:79;
    display: none;
    width: 250px;
    height:300px;
}
#menu #option10 #option10-1 li{
    width:240px;
    height:30px;
    background-color:#fff;
    color:#668066;
}
#menu #option10 #option10-1 li:hover{
    background:gainsboro;
    font-size:16px;
    cursor: pointer;
    color:#0669b2;
}
#ulId{
    text-align: center;
}
#ulId li{
    float: left;
    width: 61px;
    height: 27px;
    color:#fff;
    padding-top: 8px;
    cursor:pointer;
    font-size:14px;
    font-weight: 900;
}
#ulId li:hover{
    background:#005599;
    color:red;
}
#menu3{
    width: 470px;
    height:35px;
    position: absolute;
    right: 0px;
}

/*-----------------ceiling-----start-----------*/
#ceiling-wrap{
    position: fixed;
    top: -100px;
    width: 100%;
    height:35px;
    background: #0669b2;
    transition: top 1s;
    z-index:70;
}


#ceiling{
    width:1263px;
    height:35px;
    background:#0669b2;
    margin:0px auto;
    position: relative;
}
#ceiling1{
    width: 253px;
    height:35px;
    position: absolute;  
}
#ceiling1 p{
    width: 92px;
    height: 35px;
    margin-left:46px;
    margin-top:6px;
    color: #FFF;
    font-size: 14px;
    font-weight: 900;
    position: absolute;
    left: 17px;
}
#ceiimg5{
    width:85px;
    height:35px;
    position: absolute;
    right: 10px;
}
#ceimenu2{
    width: 565px;
    height:35px;
    position: fixed;
    position: absolute;
    left:253px;
}

#ceioption1{
   position:absolute;
    width: 250px;
    height:300px;
    top:35px;
    left:-100px;
    z-index: 70;
    display: none;
}

#ceioption1 ul li{
    width:250px;
    height:40px;
    background-color:#fff;
    float:left;
    color:#668066;
    font-size:12px;
}
#ceioption1 ul li:hover{
    background:gainsboro;
    font-size:16px;
    cursor: pointer;
    color:#0669b2;
}
#ceioption2{
    position:absolute;
    left:-20px;
    top:35px;
    z-index: 71;
  display: none;
    width: 230px;
    height:192px;
    
}
#ceioption2 ul li{
    width: 230px;
    height:40px;
    background-color:#fff;
    color:#668066;
}
#ceioption2 ul li:hover{
    background:gainsboro;
    font-size:16px;
    cursor: pointer;
    color:#0669b2;
}
#ceioption3{
   width: 307px;
   position:absolute;
    left:20px;
    top:38px;
    z-index: 666;
    display: none;
}
#ceioption3 #ceieastId{
  color:blue;
  font-size:16px;
  font-weight: 900;;
}
#ceioption3 #ceiwestId{
  color:red;
  font-size:16px;
  font-weight: 900;
}
#ceioption3 li{
   width:150px;
   height:32px;
   float:left;
   background-color:#fff;
   font-size:12px;
   color: gray;
}
#ceioption3 li:hover{
    width: 151px;
    color:#0a3665;
    background-color:#F0F1F6;
    font-size:18px;
    cursor: pointer;
}
#ceiling #ceioption4{
    position:absolute;
    left:30px;
    top:35px;
    z-index:75;
    display: none;
    width: 250px;
    height:255px;
}
#ceiling #ceioption4 #ceioption4-1 li{
    width:250px;
    height:40px;
    background-color:#fff;
    color:#668066;
}
#ceiling #ceioption4 #ceioption4-1 li:hover{
    background:gainsboro;
    font-size:16px;
    cursor: pointer;
    color:#0669b2;
}

#ceiling #ceioption5{
    position:absolute;
    left:90px;
    top:35px;
    z-index:78;
  display: none;
    width: 250px;
    height:145px;
}
#ceiling #ceioption5 #ceioption5-1 li{
    width:250px;
    height:40px;
    background-color:#fff;
    color:#668066;
}
#ceiling #ceioption5 #ceioption5-1 li:hover{
    background:gainsboro;
    font-size:16px;
    cursor: pointer;
    color:#0669b2;
}

#ceiling #ceioption6{
    position:absolute;
    left:145px;
    top:35px;
    z-index:79;
  display: none;
    width: 250px;
    height:300px;
}
#ceiling #ceioption6 #ceioption6-1 li{
    width:250px;
    height:40px;
    background-color:#fff;
    color:#668066;
}
#ceiling #ceioption6 #ceioption6-1 li:hover{
    background:gainsboro;
    font-size:16px;
    cursor: pointer;
    color:#0669b2;
}

#ceiling #ceioption7{
    position:absolute;
    left:210px;
    top:35px;
    z-index:79;
  display: none;
    width: 250px;
    height:200px;
}
#ceiling #ceioption7 #ceioption7-1 li{
    width:250px;
    height:40px;
    background-color:#fff;
    color:#668066;
}
#ceiling #ceioption7 #ceioption7-1 li:hover{
    background:gainsboro;
    font-size:16px;
    cursor: pointer;
    color:#0669b2;
}

#ceiling #ceioption8{
    position:absolute;
    left:267px;
    top:35px;
    z-index:79;
  display: none;
    width: 250px;
    height:145px;
}
#ceiling #ceioption8 #ceioption8-1 li{
    width:250px;
    height:40px;
    background-color:#fff;
    color:#668066;
}
#ceiling #ceioption8 #ceioption8-1 li:hover{
    background:gainsboro;
    font-size:16px;
    cursor: pointer;
    color:#0669b2;
}

#ceiling #ceioption9{
    position:absolute;
    left:331px;
    top:35px;
    z-index:79;
  display: none;
    width: 250px;
    height:350px;
}
#ceiling #ceioption9 #ceioption9-1 li{
    width:240px;
    height:30px;
    background-color:#fff;
    color:#668066;
}
#ceiling #ceioption9 #ceioption9-1 li:hover{
    background:gainsboro;
    font-size:16px;
    cursor: pointer;
    color:#0669b2;
}

#ceiling #ceioption10{
    position:absolute;
    left:396px;
    top:35px;
    z-index:79;
    display: none;
    width: 250px;
    height:300px;
}
#ceiling #ceioption10 #ceioption10-1 li{
    width:240px;
    height:30px;
    background-color:#fff;
    color:#668066;
}
#ceiling #ceioption10 #ceioption10-1 li:hover{
    background:gainsboro;
    font-size:16px;
    cursor: pointer;
    color:#0669b2;
}
#ceiulId{
    text-align: center;
}
#ceiulId li{
    float: left;
    width: 61px;
    height: 27px;
    color:#fff;
    padding-top: 8px;
    cursor:pointer;
    font-size:14px;
    font-weight: 900;
}
#ceiulId li:hover{
    background:#005599;
    color:red;
}
#ceimenu3{
    width: 470px;
    height:35px;
    position: absolute;
    right: 0px;
}
#ceimenu3box{
width:150px;
height:24px;
float:right;
border-radius:5px;
margin-top:3px;;
}
#ceimenu3 ul{
float:right;
margin-right:5px;
margin-top:5px;
}
#ceimenu3 li{
float:left;
width:40px;
height:25px;

}
#ceimenu3box1{
position: absolute;
right:5px;
top:7px;
}
/*-----------------ceiling-----end-----------*/



.s-content-wrap{
    width:100%;
}
.s-content{
    height:150px;
    width:1263px;
    margin:0px auto;
}
.s-content1{
    height:150px;
    width:150px;
    line-height:150px;
    font-size:30px;
    font-weight:900;
    margin-left:50px;
}


.s-menu-wrap{
    width:100%;
}
.s-menu{
     margin-left:50px;
    height:50px;
    width:1163px;
    margin:0px auto;
    background:#949da9;
}
.s-menu1{
    float:left;
    height:50px;
    width:500px;
    text-align: center;
    line-height:50px;
    color:#fff;
    font-size:18px;
    font-weight: 900;
}
.s-menu2{
     float:left;
    height:50px;
    width:660px;
    color:#fff;
    font-size:16px;
  font-weight: 900;
}
.s-menu2 li{
    float: left;
    height:50px;
    width:163px;
     line-height:50px;
     text-align: center;
}
